section{
    width: 900px;
    height: 900px;
    background-color: rgb(74, 74, 240);
 }
 article{
     width: 80px;
     height: 80px;
     background-color: aqua;
     margin: 5px;
     float: left;
 }